@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: white;
  color: #1a1a1a;
}

* {
  box-sizing: border-box;
}

.font-headline {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}
.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}